body{
    background: radial-gradient(290px at 8.6% 46.4%, rgb(255, 148, 148) 7.8%, rgb(255, 223, 155) 32.2%, rgb(255, 247, 177) 48.1%, rgb(216, 255, 177) 61%, rgb(177, 255, 253) 75.3%);
    font-family: monospace;
}

h1{
    color:#575151;
    display: block;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom:0;
}
ul{
    margin:0;
    padding:0;
}
li{
    margin:0;
    padding:0;
    color:#575151;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
    
}
li::first-letter{
    text-transform: capitalize;
}
.lavanda-weather-app{
    padding: 40px;
    border: 1px solid #f70776;
    border-radius: 5px;
}
.lavanda-weather-app-wrapper{
    max-width: 600px;
    margin: 30px auto;
}
.overview{
    margin-bottom: 20px;
}
.weather-temperature img{
    margin-right: 5px;
    height: 64px;
    width: 64px;
}
.weather-temperature strong{
    color:#575151;
    font-size: 64px;
    font-weight: 400;
    line-height:1;
}
.weather-temperature .units{
    position: relative;
    font-size: 16px;
    top: -34px;
}
.weather-temperature .active{
    color:#575151;
    cursor: default;
}
.weather-temperature .active:hover{
    text-decoration: none;
}
.weather-forecast{
    margin-top:20px;
    text-align: center;
}
.weather-forecast-date{
    font-size: 16px;
    opacity: 0.5;
}
.weather-forecast-temperatures{
    font-size: 13px;
}
.weather-forecast-temperature-min{
    opacity: 0.5;
}




